@model List<ReservaTuristica.Application.DTOs.AlojamientoDisponibleDto>

<h1>Disponibilidad</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="get">

    <div class="row">

        <div class="col-md-3">

            <label>Fecha Inicio</label>

            <input type="date"
                   name="fechaInicio"
                   class="form-control" />

        </div>

        <div class="col-md-3">

            <label>Fecha Fin</label>

            <input type="date"
                   name="fechaFin"
                   class="form-control" />

        </div>

        <div class="col-md-3">

            <label>Número Personas</label>

            <input type="number"
                   name="numeroPersonas"
                   class="form-control" />

        </div>

        <div class="col-md-3 d-flex align-items-end">

            <button type="submit"
                    class="btn btn-primary w-100">

                Buscar

            </button>

        </div>

    </div>

</form>

<hr />

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">

        <thead>

            <tr>
                <th>Alojamiento</th>
                <th>Sede</th>
                <th>Capacidad</th>
                <th>Habitaciones</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Nombre</td>

                    <td>@item.Sede</td>

                    <td>@item.Capacidad</td>

                    <td>@item.CantidadHabitaciones</td>

                    <td>
                        <strong>
                            $ @item.Precio
                        </strong>
                    </td>

                    <td>

                        <a asp-controller="Reserva"
                           asp-action="Crear"
                           asp-route-alojamientoId="@item.Id"
                           class="btn btn-success">

                            Reservar

                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>
}