@model List<ReservaTuristica.Application.DTOs.AlojamientoDisponibleDto>

<h1>Alojamientos Disponibles</h1>

<div>
    <form method="get">

        <div>
            <label>Fecha Inicio</label>
            <input type="date" name="fechaInicio" />
        </div>

        <div>
            <label>Fecha Fin</label>
            <input type="date" name="fechaFin" />
        </div>

        <button type="submit">
            Buscar Disponibilidad
        </button>

    </form>

    <hr />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sede</th>
            <th>Capacidad</th>
            <th>Habitaciones</th>
            <th>Descripción</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Sede</td>
                <td>@item.Capacidad</td>
                <td>@item.CantidadHabitaciones</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>
</table>
